# .NET
**/bin/
**/obj/
*.user
*.suo
.vs/
appsettings.Development.json

# Angular / Node
node_modules/
dist/
.angular/
*.env
!.env.example

# Uploads locais
**/uploads/*
!**/uploads/.gitkeep

# Geral
.DS_Store
Thumbs.db
*.log
repositorio_v2/
